@model GestHot.Models.Hotel

@{
    ViewBag.Title = "Details";
}


<div class="container">
    <div class="row">
        <div class="col-9">
            <h2>@Html.DisplayFor(model => model.name)</h2>
            <p>Stars</p>
            <h5><i class="bi bi-geo-alt-fill"></i> @Html.DisplayFor(model => model.adresse)</h5>
        </div>
        <div class="col-3 d-flex align-items-end">
            <p class="mx-2"><i class="bi bi-pencil-fill"></i> Share</p>
            <p><i class="bi bi-heart-fill"></i> Love</p>
        </div>
    </div>
</div>
<div class="newback">
    <div class="container">
        <div class="row">
            <div class="col-6 my-3">
                <div class="card bg-white">
                    <div class="card-header">
                        <h3>Reserve now</h3>
                    </div>
                    <div class="card-body">
                        <div class="row my-3">
                            <div class="col-sm-6">
                                <input type="date" id="fromDate" min="" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <input type="date" id="toDate" max="" class="form-control" />
                            </div>
                        </div>
                        <div class="row my-3">
                            <div class="col-sm-6">
                                <input type="number" value="2" class="form-control" />
                            </div>
                            <div class="col-sm-6">
                                <input type="number" value="1" class="form-control" />
                            </div>
                        </div>
                        <div class="text-center">
                            <a class="btn btn-success ">Reserve now</a>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="row my-3">
                    <div class="col-sm-3">
                        <img src="~/images/c.png" height="250" width="530" />
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header">
                    <h2>Description</h2>
                </div>
                <div class="card-body">
                    <p>@Html.DisplayFor(model => model.description)</p>
                    <p>Nomber of rooms : @Html.DisplayFor(model => model.nbCH)</p>
                </div>
            </div>
        </div>
    </div>



</div>

<div class="container newback my-5">
    <div class="row ">
        <h3 class="my-4">You may also like</h3>
        <hr />
    </div>
    <div class="row">
        <div class="col-sm-2 my-3">
            <div class="card">
                <img src="~/images/search.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hotel name</h5>
                    <p class="card-text">Stars</p>
                    <a href="#" class="btn btn-primary">Price</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 my-3">
            <div class="card">
                <img src="~/images/search.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hotel name</h5>
                    <p class="card-text">Stars</p>
                    <a href="#" class="btn btn-primary">Price</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 my-3">
            <div class="card">
                <img src="~/images/search.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hotel name</h5>
                    <p class="card-text">Stars</p>
                    <a href="#" class="btn btn-primary">Price</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 my-3">
            <div class="card">
                <img src="~/images/search.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hotel name</h5>
                    <p class="card-text">Stars</p>
                    <a href="#" class="btn btn-primary">Price</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 my-3">
            <div class="card">
                <img src="~/images/search.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hotel name</h5>
                    <p class="card-text">Stars</p>
                    <a href="#" class="btn btn-primary">Price</a>
                </div>
            </div>
        </div>
        <div class="col-sm-2 my-3">
            <div class="card">
                <img src="~/images/search.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Hotel name</h5>
                    <p class="card-text">Stars</p>
                    <a href="#" class="btn btn-primary">Price</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header">
                    <h3>About</h3>
                </div>
                <div class="card-body">
                    <h3>Stars</h3>
                    <p>Description</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container my-5">
    <div class="row">
        <h2>Reviews</h2>
        <hr />
    </div>
    <div class="container">
        <div class="row">
            <div class="col-10">
                <h5>Owner</h5>
                <p>Comment</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-10">
                <h5>Owner</h5>
                <p>Comment</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-10">
                <h5>Owner</h5>
                <p>Comment</p>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-10">
                <h5>Owner</h5>
                <p>Comment</p>
            </div>
        </div>

    </div>
</div>


<!--
<h2>Details</h2>

<div>
    <h4>Hotel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.adresse)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.adresse)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nbCH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nbCH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.note)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
    -->
<script>
    var fromData;
    $('#fromDate').on('change', function () {
        fromDate = $(this).val();
        $('#toDate').prop('min', function () {
            return fromDate;
        })
    });
    var toData;
    $('#toDate').on('change', function () {
        toDate = $(this).val();
        $('#fromDate').prop('max', function () {
            return toDate;
        })
    });
</script>