@model IEnumerable<GestHot.Models.Hotel>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    @foreach (var item in Model)
    {
        <div class="card my-5">
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-4">
                        <img src="~/images/search.jpg" class="img-thumbnail" />
                    </div>
                    <div class="col-sm-8">
                        
                            <h2 class="my-2">
                                <a href="@Url.Action("Details/"+item.idH)" class="no-color">
                                    @Html.DisplayFor(modelItem => item.name)
                                </a>
                                    
                            </h2>

                        <h4>@Html.DisplayFor(modelItem => item.adresse)</h4>
                        <p>@Html.DisplayFor(modelItem => item.description)</p>
                        @Html.ActionLink("Reserve now", "Details", new { id = item.idH }, new { @class = "btn btn-red" })
                    </div>
                </div>
            </div>
        </div>
        
    }
</div>


<!--<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.adresse)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nbCH)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.note)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.adresse)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nbCH)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.note)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idH }) |
            @Html.ActionLink("Details", "Details", new { id=item.idH }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idH })
        </td>
    </tr>
}

</table>-->
