@model IEnumerable<GestHot.Models.Hotel>
@{
    ViewBag.Title = "Home Page";
}
@{var res = Model.First();}
<div class="container">
    <div class="searchh d-flex align-items-center justify-content-center my-4">
        <div class="col-5 ">
            <div class="input-group mb-3 ">
                <input type="text" class="form-control" placeholder="Where to ?" aria-label="Username" aria-describedby="basic-addon1">
            </div>
        </div>

    </div>


    <div class="row first d-flex align-items-end my-5">
        <div class="col-6 mx-3">
            <h5 class="text-white">Make your vacation better</h5>
            <h6 class="text-white">Reserve a hotel now </h6>
        </div>
        <div class="row mb-3">
            <div class="col-3">
                <a class="btn btn-red">Reserve Now</a>
            </div>

        </div>
    </div>


    <div class="row mt-4">
        <h1 class="text-red text-uppercase">The Best Hotels</h1>
        <p class="text-justify">lorem lorem lorem lorem lorem lorem lorem lorem lorem</p>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide mb-4" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="~/images/c.png" class="d-block w-100" alt="1">
                <div class="carousel-caption d-none d-md-block">
                    <h5 class="text-black text-uppercase">@res.name</h5>

                    <p class="text-black">@res.description</p>
                    <a class="btn btn-red">Reserver</a>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="carousel-item">
                    <img src="~/images/c.png" class="d-block w-100" alt="2">
                    <div class="carousel-caption d-none d-md-block">
                        <h5 class="text-black text-uppercase">@Html.DisplayFor(modelItem => item.name)</h5>
                        <p class="text-black">@Html.DisplayFor(modelItem => item.description)</p>
                        <a class="btn btn-red">Reserver</a>
                    </div>
                </div>
            }
            </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <div class="row ">
        <div class="col-8 nopadding plan text-center">

            <h3 class="my-4 mx-1 text-uppercase">Plan your next trip</h3>
            @Html.ActionLink("See the list", "Index", "Hotel", null, new { @class = "btn btn-red mx-1" })
        </div>
        <div class="col-4 nopadding">
            <img src="~/images/search.jpg" height="150" width="360" />
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-10">
            <h1 class="text-red text-uppercase">The Most viewed hotels</h1>
            <p>lorem lorem lorem lorem lorem lorem lorem lorem lorem</p>
        </div>
        <div class="col-2">
            @Html.ActionLink("See more", "Index", "Hotel", null, new { @class = "btn btn-red my-2" })
        </div>

    </div>
    <div class="row my-4">
        @foreach (var item in Model)
        {
            <div class="col-sm-4">
                <div class="card" style="width: 18rem;">
                    <img src="#" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@Html.DisplayFor(modelItem => item.name)</h5>
                        <p class="card-text">@Html.DisplayFor(modelItem => item.adresse)</p>
                        <p>Note</p>
                        @Html.ActionLink("Reserve", "Details/"+item.idH, "Hotel", null, new { @class = "btn btn-red mx-1" })
                    </div>
                </div>
            </div>
        }
    </div>
</div>