@model IEnumerable<GestHot.Models.User>

@{
    ViewBag.Title = "Users";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row my-5">
    <h3 class="text-uppercase text-center">users</h3>
</div>
<div class="row my-3">

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="table-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Last name</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row">@Html.DisplayFor(modelItem => item.Name)</th>
                        <th>@Html.DisplayFor(modelItem => item.LastName)</th>
                        <th>@Html.DisplayFor(modelItem => item.Email)</th>
                        <th><!--Comments in user-->
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="See comments" class="mx-2 no-color" href="@Url.Action("Comments", "Owner",new {id = item.idU})"><i class="bi bi-chat-left-dots-fill"></i></a>
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="mx-2 no-color" href="@Url.Action("Edit","User",new {id = item.idU})"><i class="bi bi-pencil-fill"></i></a>
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="See Details" class="mx-2 no-color" href="@Url.Action("Details","User",new {id = item.idU})"><i class="bi bi-file-earmark-text-fill"></i></a>
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="mx-2 no-color" href="@Url.Action("deleteU","Admin", new {id = item.idU})"><i class="bi bi-trash3-fill"></i></a>
                            <a data-bs-toggle="tooltip" data-bs-placement="top" title="BlackList" class="no-color mx-2" href="@Url.Action("blacklistU","Admin", new {id = item.idU})">
                                <i class="bi bi-exclamation-square-fill"></i>
                            </a>
                        </th>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>