@model IEnumerable<GestHot.Models.Hotel>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    @if (TempData["hotel"] != null)
    {
        <div class="alert alert-warning alert-dismissible fade show my-3 text-center" role="alert">
            <i class="bi bi-exclamation-diamond-fill"></i> @TempData["hotel"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    <div class="row my-5">
        <div class="col-sm-8">
            <h2 class="text-red">My Hotels</h2>
        </div>
        <div class="col-sm-4">
            @Html.ActionLink("New Hotel", "newHotel", null, new { @class = "btn btn-red" })
        </div>
    </div>
    <div class="row my-3">
        <table class="table table-striped">
            <tr>
                <th>
                    <h4>Name</h4>
                </th>
                <th>
                    <h4>Adresse</h4>
                </th>
                <th>
                    <h4>Rooms</h4>
                </th>
                <th>
                    <h4>Price</h4>
                </th>
                <th>
                    <h4>Note</h4>
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.adresse)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.nbCH)
                    </td>
                    <td>@Html.DisplayFor(modelItem => item.prix)</td>
                    <td>
                        @Html.DisplayFor(modelItem => item.note)
                    </td>
                    <td>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="See comments" class="mx-2 no-color" href="@Url.Action("Comments", "Owner", new { id = item.idH})"><i class="bi bi-chat-left-dots-fill"></i></a>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Edit" class="mx-2 no-color" href="@Url.Action("Edit","Owner",new { id = item.idH })"><i class="bi bi-pencil-fill"></i></a>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="See Details" class="mx-2 no-color" " href="@Url.Action("Details","Owner",new { id = item.idH })"><i class="bi bi-file-earmark-text-fill"></i></a>
                        <a data-bs-toggle="tooltip" data-bs-placement="top" title="Delete" class="mx-2 no-color" " href="@Url.Action("Delete","Owner",new { id = item.idH })"><i class="bi bi-trash3-fill"></i></a>

                    </td>
                </tr>
            }

        </table>
    </div>
</div>
